APP_ADDR=:8080
APP_ENV=development
APP_DEFAULT_LANG=ru
APP_DATABASE_URL=postgres://notifier:notifier@localhost:5432/notifier?sslmode=disable
APP_SESSION_TTL=720h
APP_TELEGRAM_BOT_USERNAME=your_bot_username
APP_BOT_SERVICE_TOKEN=change_me_bot_service_token
